table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #c40000;
  padding: 8px;
  text-align: left;
  border-radius: 8px;
}

.no-projects {
  border: 5px solid #ffffff;
  height: 200px;
  /* padding: 16px; */
  /* text-align: center; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  border-radius: 8px;
  border-style: dashed;
}
