table {
  border-collapse: collapse;
  width: auto;
  border-radius: 8px;
}

th,
td {
  /* border: 4px solid #ffffff; */
  border-radius: 4px;
  padding: 8px;
  text-align: left;
}

#action {
  text-align: center;
}

#action-delete {
  text-align: center;
}

#id {
padding: 4px;
overflow: hidden;
}

#name {
  font-weight: bold;
  width: 200px;
  
}


.no-projects {
  border: 5px solid #ffffff;
  height: 200px;
  /* padding: 16px; */
  /* text-align: center; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  border-radius: 8px;
  border-style: dashed;
}
