@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 600px) {
  table {
    display: none;
  }
  #mobile-project-list {
    display: block;
  }
}

@media (min-width: 640px) {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-radius: 8px;
    overflow-x: auto;
  }
  #mobile-project-list {
    display: none;
  }
}

/* table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 8px;
  overflow-x: auto;
} */

th,
td {
  border: 2px solid #ffffff;
  border-radius: 4px;
  padding: 8px;
  text-align: left;
}

#action {
  text-align: center;
}

#action-delete {
  text-align: center;
}

#id {
  padding: 4px;
  overflow: hidden;
}

#name {
  font-weight: bold;
  width: 200px;
}

.no-projects {
  border: 5px solid #ffffff;
  height: 200px;
  /* padding: 16px; */
  /* text-align: center; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  border-radius: 8px;
  border-style: dotted;
}
